.m-title {
    text-align: center;
    color: #00f;
}

.m-item {
    border: 1px dashed #ccc;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
}

.m-user {
    font-size: 18px;
}

.m-content {
    font-size: 14px;
}