.m-login {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    filter: blur(10px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
}
