.m-login {
    position: absolute;
    top: 180px;
    left: 200px;
    padding: 20px;
    width: 400px;
    height: 300px;
    border: 1px solid #000;
    // filter: blur(10px);
    // -webkit-filter: blur(3px);
    // -moz-filter: blur(10px);
    // -ms-filter: blur(10px);
    // -o-filter: blur(10px);
}
